gunicorn==20.1.0
label-studio-ml @ git+https://github.com/HumanSignal/label-studio-ml-backend.git
Jinja2>=3.1.2
itsdangerous>=2.1.2
rq==1.10.1
pillow
tensorflow
tensorflow_hub
werkzeug>=2.3.0
# pip install --force-reinstall -v "tensorflow==1.15.5"